doctype 5
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="/images/johnson-and-johnson-squarelogo.png")
    title SSP Sprint
    //-link(href="/stylesheets/login_custom.css" rel="stylesheet")
    style
      * {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      
      body {
        margin: 0;
        pading: 0;
        color: #fff;
        background: url('/images/bg-login.png') repeat #1b1b1b;
        font-size: 14px;
        text-shadow: #050505 0 -1px 0;
        font-weight: bold;
      }
      
      li {
        list-style: none;
      }
      
      #dummy {
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: solid 3px #777973;
        height: 300px;
        width: 100%;
        background: url('/images/140320-johnson-johnson1.jpg') repeat #fff;
        z-index: 1;
      }
      
      #dummy2 {
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: solid 2px #545551;
        height: 302px;
        width: 100%;
        background: transparent;
        z-index: 2;
      }
      
      #login-wrapper {
        margin: 0 0 0 -160px;
        width: 320px;
        text-align: center;
        z-index: 99;
        position: absolute;
        top: 0;
        left: 50%;
      }
      
      #login-top {
        height: 120px;
        padding-top: 280px;
        text-align: center;
      }
      
      label {
        width: 70px;
        float: left;
        padding: 8px;
        line-height: 14px;
        margin-top: -4px;
      }
      
      input.text-input {
        width: 200px;
        float: right;
        -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
        border-radius: 4px;
        background: #fff;
        border: solid 1px transparent;
        color: #555;
        padding: 8px;
        font-size: 13px;
      }
      
      input.button {
        float: right;
        padding: 6px 10px;
        color: #fff;
        font-size: 14px;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a4d04a), to(#459300));
        text-shadow: #050505 0 -1px 0;
        background-color: #459300;
        -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
        border-radius: 4px;
        border: solid 1px transparent;
        font-weight: bold;
        cursor: pointer;
        letter-spacing: 1px;
      }
      
      input.button:hover {
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a4d04a), to(#a4d04a), color-stop(80%, #76b226));
        text-shadow: #050505 0 -1px 2px;
        background-color: #a4d04a;
        color: #fff;
      }
      
      div.error {
        padding: 8px;
        background: rgba(52, 4, 0, 0.4);
        -moz-border-radius: 8px;
                -webkit-border-radius: 8px;
        border-radius: 8px;
        border: solid 1px transparent;
        margin: 6px 0;
      }

    
  body(id="login")       
    div(id="login-wrapper" class="png_bg")
      div(id="login-top")
        //-img(src="/images/jnj.jpg" alt="Treemo Labs Dashboard" title="Powered By Treemo Labs")     
      div(id="login-content")
        form(role="form" id="login", name="login" method="post", action="/login") 
          p
            label Username 
            input(type="email" class="text-input" id="UserMail" placeholder="Email Address" name="UserMail" required autofocus)
          br(style="clear: both;")
          p
            label Password
            input(type="password" class="text-input" id="Password" placeholder="Password" name="Password" required)
          br(style="clear: both;")
          p
            input(type="submit" class="button") Sign In
    div#dummy
    div#dummy2
    
    script(src='/javascripts/jquery-2.0.3.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/happy.js')
    script(src='/javascripts/happy.methods.js')
    script
      $(document).ready(function () {
        $('#login').isHappy({
          fields: {
            // reference the field you're talking about, probably by `id`
            // but you could certainly do $('[name=name]') as well.
            '#UserMail': {
              required: true,
              message: 'You Have Entered An Invalid Email Address',
              test: happy.email // this can be *any* function that returns true or false
            },
            '#Password': {
              required: true,
              message: 'You Must Input a Password'
            }
          }
        });
      }); 